
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');

body {
    font-family:'bebas Neue', sans-serif;
    background-image:  url("https://i.ibb.co/fqmr3Gm/2206-w019-n002-621b-p15-621.jpg");
    
    color:blue;
    text-align: center;
    height: 100%;
    font-size: 18px;
  }

  
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  
  canvas {
    color: black;
    border: red dashed 3px;
    padding: 15px;
  }

  h1,
  h2,
  h3 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0px 0;
  }
  h1 {
    font-family:'bebas Neue', sans-serif;
    font-size: 3.5em;
    font-weight: bolder;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  Button {
    background: red;
    border-radius: 5px;
    border: solid 1px white;
    color: black;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
  }
  Button:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: red;
    width: 55px;
    height: 75px;
    
  }
  #accueil{
    border-radius: 10px;
    background: red;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 10px;
    width: 100px;
    height: 45px;
    margin: 0px 10px 10px 0;
    outline: none;
    
  }
  .selected {
    background: white;
    border: solid 1px white;
    color:red;
  }
  
  .btn-2 {
    border-radius: 10px;
    background: red;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 20px 10px 10px 0;
    outline: none;
  }
  .btn-3 {
    border-radius: 10px;
    background: red;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 10px;
    width: 250px;
    height: 50px;
    margin: 20px 10px 10px 0;
    outline: none;
  }

  .btn-2:hover {
    transition: 1.5s;
    background: white;
    border: solid 1px white;
    color: red;
    width: auto;
    height: auto;
  }
  .btn-3:hover {
    transition: 1.5s;
    background: white;
    border: solid 1px white;
    color: red;
    width: 150px;
    height: 100px;
   
  }
  footer {
  
  height: fixed;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  width: 100%;
  background-color:rgb(218, 12, 12);
  color: white;
  box-shadow: 10px 5px 5px black;
  
}
.baniere{
  
  display:flex;
  justify-content: space-between;
  margin: 20px;
  flex-basis: 200px;
  align-items: center;
  text-align: left;
}
#profil {

  position: relative;
  margin: 20px;
  border-radius: 50%;
  clip-path:ellipse(50% 50%);
  
}

a{
  color: aliceblue;
}

a:hover{
  transition: 1.5s;
  color: rgb(46, 146, 131);
}
